@model Bakery.Models.BreadRecipe

@{
    ViewData["Title"] = "Детали";
}

<h1>Детали</h1>

<div>
    <h4>BreadRecipe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IngredientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IngredientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityPerUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityPerUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ingredient.IngredientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BakeryProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BakeryProduct.BakeryProductId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BreadRecipeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
